
{% extends "base.html" %}
{% block content %}
    <h2>Work Experience</h2>
    <p><strong>Project Associate</strong>, STEM Learning Pvt. Ltd. (May 2024 – Aug 2025)<br>Streamlined project timelines by 25% and reduced costs by 15%.</p>
    <p><strong>Software Testing Engineer Intern</strong>, ERTL(E), STQC, Govt of India (Oct 2023 – Apr 2024)<br>Improved system accuracy and reduced procurement time by 45%.</p>
    <p><strong>Project Management Intern</strong>, Foruppo (Jun 2023 – Aug 2023)<br>Increased project outcomes by 15% and enhanced team morale.</p>
{% endblock %}
